<!doctype html>
<html lang="en">
  <head>

    <%- include('partials/header') %>
    <title>Home</title>

  </head>
  <%- include('partials/nav') %>
  <body>

<h1>EMmpty so far</h1>
          
  <%- include('partials/scripts') %>
  </body>
</html>