<!doctype html>
<html lang="en">
  <head>

    <%- include('partials/header') %>
    <title>Home</title>

  </head>
  <%- include('partials/nav') %>
  <body>

    <div class="d-flex align-items-center justify-content-center container view mt-5" >


            <div class="col-md-8 main-section">
            <h1>About Me</h1>
                <div class="row">
                <img class="pull-left img-responsive" id="profile-photo" src="assets/images/rhonda.jpeg" alt="Rhonda Glennon profile photo">
                    
                    <p>Rhonda is a technical product manager with full-stack web development skills and entrepreneurial ambitions. During her 15 years in the software industry, she has worked in developer relations, product management, and software documentation.</p>
    
              <p>Rhonda has a pilot's license, as well as an instrument ground instructor certificate, and enjoys sightseeing, taking aerial photographs, and writing trip reports.</p>
    
                    <p>She holds a Master of Science in geoscience from Western Kentucky University and a bachelorʼs degree in political science. In April 2018, she completed an immersive, full-stack web development bootcamp at UC Berkeley Extension.</p>
                </div>
            </div>
    

    
    </div>

    
    <div class="container">
      <div class="row align-items-start">
        <div class="col">
            <div class="card">
                <div class="card-header">
                  Quote
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                  Quote
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                  Quote
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
            </div>
        </div>
      </div>
    </div>



  <%- include('partials/scripts') %>
  </body>
</html>