<!doctype html>
<html lang="en">
  <head>

    <%- include('partials/header') %>
    <title>Home</title>

  </head>
  <%- include('partials/nav') %>
  <body>

    <div class="d-flex align-items-center justify-content-center container view mt-5" >


            <div class="col-md-8 main-section">
            <h1>About Jiong Jiet</h1>
                <div class="container">
                <img class="pull-left img-fluid cjj-photo" id="profile-photo" src="assets/cjj.jpg" alt="CJJ funny photo">
                <div class="row ml-3">
                    <p class ="ml-3 about-cjj-p">Jiong Jiet is a psychology graduate, currently learning to craft with the power of technology. <br>
                    He is passionate and fascinated by the technology world.</p>
                </div>
                </div>
            </div>
    

    
    </div>

    
    <div class="container">
      <div class="row align-items-start">
        <div class="col">
            <div class="card">
                <div class="card-header">
                  Quote
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                  Quote
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                  Quote
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
            </div>
        </div>
      </div>
    </div>


    
  <%- include('partials/scripts') %>
  </body>
</html>