body {
  background: url('https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  font-family: 'Cormorant Garamond', serif;  
}
 
a {
  color: #00B7FF;
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
      background: #1C2331!important;
  }
}
.view,body,html{height:100%}
.navbar{
  background-color:rgba(0,0,0)
}

.cjj-photo{
  width: 20%;
  height:40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.about-cjj-p{
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: bold;
}

.main-section{
  background-color: rgba(194, 169, 227, 0.5);
}


